DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/free_arena?schema=public
AUTH_SECRET=
NEXTAUTH_URL=https://play.free-arena.ro
ADMIN_SEED_EMAIL=
ADMIN_SEED_USERNAME=
ADMIN_SEED_PASSWORD_HASH=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DISCORD_INVITE_CODE=
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_NEWS_ID=
STEAM_API_KEY=

TEAMSPEAK_HOST=ts.free-arena.ro
TEAMSPEAK_VOICE_PORT=9987
TEAMSPEAK_QUERY_PORT=10011
TEAMSPEAK_QUERY_USER=
TEAMSPEAK_QUERY_PASSWORD=
TEAMSPEAK_VIRTUAL_SERVER_ID=1
TEAMSPEAK_STATUS_URL=
TEAMSPEAK_STATUS_TOKEN=
